fastapi 
uvicorn[standard]
openai
Pillow>=11,<13
tzlocal
python-multipart
requests
aiohttp
httpx
tavily-python
bs4
shortuuid
ollama
appdirs
aiosqlite
e2b-code-interpreter
wikipedia-api
arxiv
ddgs
aiofiles
pip-licenses 
